/* Magic Mirror Custom CSS Sample
 *
 * Change color and fonts here.
 *
 * Beware that properties cannot be unitless, so for example write '--gap-body: 0px;' instead of just '--gap-body: 0;'
 *
 * MIT Licensed.
 */

/* Uncomment and adjust accordingly if you want to import another font from the google-fonts-api: */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap'); */

:root {
  --gap-body-top: 30px;
  --gap-body-right: 30px;
  --gap-body-bottom: 10px;
  --gap-body-left: 30px;

  --gap-modules: 30px;
}

body {
  zoom: 95%;
}
