[submodule "modules/MMM-WebView"]
	path = modules/MMM-WebView
	url = git@github.com:mike4192/MMM-WebView.git
[submodule "modules/MMM-Face-Reco-DNN"]
	path = modules/MMM-Face-Reco-DNN
	url = git@github.com:mike4192/MMM-Face-Reco-DNN.git
[submodule "modules/MMM-PIR-Sensor"]
	path = modules/MMM-PIR-Sensor
	url = https://github.com/mike4192/MMM-PIR-Sensor
[submodule "modules/calendar_monthly"]
	path = modules/calendar_monthly
	url = https://github.com/d-Rickyy-b/calendar_monthly.git 
[submodule "modules/MMM-RAIN-MAP"]
	path = modules/MMM-RAIN-MAP
	url = https://github.com/jalibu/MMM-RAIN-MAP.git
[submodule "modules/MMM-CountUP"]
	path = modules/MMM-CountUP
	url = git@github.com:mike4192/MMM-CountUP.git
[submodule "modules/MMM-OpenWeatherMapForecast"]
	path = modules/MMM-OpenWeatherMapForecast
	url = https://github.com/MarcLandis/MMM-OpenWeatherMapForecast.git
[submodule "modules/MMM-CountDown"]
	path = modules/MMM-CountDown
	url = git@github.com:daterrell/MMM-CountDown.git
[submodule "modules/MMM-OpenWeatherForecast"]
	path = modules/MMM-OpenWeatherForecast
	url = git@github.com:mike4192/MMM-OpenWeatherForecast.git
