[submodule "modules/MMM-WebView"]
	path = modules/MMM-WebView
	url = git@github.com:mike4192/MMM-WebView.git
[submodule "modules/MMM-Face-Reco-DNN"]
	path = modules/MMM-Face-Reco-DNN
	url = git@github.com:mike4192/MMM-Face-Reco-DNN.git
[submodule "modules/MMM-PIR-Sensor"]
	path = modules/MMM-PIR-Sensor
	url = https://github.com/paviro/MMM-PIR-Sensor
[submodule "modules/calendar_monthly"]
	path = modules/calendar_monthly
	url = https://github.com/KirAsh4/calendar_monthly
[submodule "modules/MMM-RAIN-MAP"]
	path = modules/MMM-RAIN-MAP
	url = https://github.com/jalibu/MMM-RAIN-MAP.git
[submodule "modules/MMM-CountUP"]
	path = modules/MMM-CountUP
	url = git@github.com:mike4192/MMM-CountUP.git
