{% if forecast %}
    {% set numSteps = forecast | calcNumSteps %}
    {% set currentStep = 0 %}
    <table class="{{ config.tableClass }}">
        {% if config.ignoreToday %}
            {% set forecast = forecast.splice(1) %}
        {% endif %}
        {% set forecast = forecast.slice(0, numSteps) %}
        {% for f in forecast %}
            <tr {% if config.colored %}class="colored"{% endif %} {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
                {% if (currentStep == 0) and config.ignoreToday == false %}
                    <td class="day">{{ "TODAY" | translate }}</td>
                {% elif (currentStep == 1) and config.ignoreToday == false %}
                    <td class="day">{{ "TOMORROW" | translate }}</td>
                {% else %}
                    <td class="day">{{ f.date.format('ddd') }}</td>
                {% endif %}
                <td class="bright weather-icon"><span class="wi weathericon wi-{{ f.weatherType }}"></span></td>
                <td class="align-right bright max-temp">
                    {{ f.maxTemperature | roundValue | unit("temperature") | decimalSymbol }}
                </td>
                <td class="align-right min-temp">
                    {{ f.minTemperature | roundValue | unit("temperature") | decimalSymbol }}
                </td>
                {% if config.showPrecipitationAmount %}
                    {% if f.anyDayBothRainSnowExists %}
                        {% if f.rainExists and f.snowExists %}
                            <td class="align-right bright rain-icon"><span class="wi weathericon wi-raindrop"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.rain | unit("precip") }}
                            </td>
                            <td class="align-right bright snow-icon"><span class="wi weathericon wi-snowflake-cold"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.snow | unit("snow") }}
                            </td>
                        {% elif f.rainExists %}
                            <td class="align-right bright rain-icon"><span class="wi weathericon wi-raindrop"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.rain | unit("precip") }}
                            </td>
                        {% elif f.snowExists %}
                            <td class="align-right bright blank"></td>
                            <td class="align-right bright precipitation">
                                {{ "" }}
                            </td>
                            <td class="align-right bright rain-icon"><span class="wi weathericon wi-snowflake-cold"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.snow | unit("snow") }}
                            </td>
                        {% endif %}
                    {% else %}
                        {% if f.rainExists %}
                            <td class="align-right bright rain-icon"><span class="wi weathericon wi-raindrop"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.rain | unit("precip") }}
                            </td>
                        {% elif f.snowExists %}
                            <td class="align-right bright rain-icon"><span class="wi weathericon wi-snowflake-cold"></span></td>
                            <td class="align-right bright precipitation">
                                {{ f.snow | unit("precip") }}
                            </td>                            
                        {% endif %}
                    {% endif %}
                {% endif %}
            </tr>
            {% set currentStep = currentStep + 1 %}
        {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `forecast` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{forecast | dump}}</div> -->
